body {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  min-height: 100vh;
  color: #fff;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

body {
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c")
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
